@page "/display"

<h3 class="mb-5">Display</h3>

<div class="py-3 bg-light text-dark">
    <div class="d-inline p-2 bg-danger">d-inline</div>
    <div class="d-inline p-2 bg-warning">d-inline</div>
</div>
<hr class="my-3" />
<div class="py-3 bg-light text-dark">
    <div class="d-block p-2 bg-danger">d-block</div>
    <div class="d-block p-2 bg-warning">d-block</div>
</div>
<hr class="my-3" />
<div class="py-3 bg-light text-dark">
    <div class="d-inline-block p-2 bg-danger">d-inline-block</div>
    <div class="d-block p-2 bg-warning">d-block</div>
</div>
<hr class="my-3" />
<h5 class="text-success">Das Element ist nur ab Breakpoint <span class="text-warning">Extra Large</span> sichtbar</h5>
<div class="py-3 bg-light text-dark">
    <div class="d-none d-xl-block p-2 bg-danger">d-none d-xl-block</div>
</div>
<hr class="my-3" />
<h5 class="text-success">Das Element ist nur bei Breakpoint <span class="text-warning">Medium</span> sichtbar</h5>
<div class="py-3 bg-light text-dark">
    <div class="d-none d-md-block d-lg-none p-2 bg-danger">d-none d-md-block d-lg-none</div>
</div>

@code {

}
