@page "/flex-align-self"

<h3 class="mb-5">Flex / Align self</h3>

<div class="d-flex" style="height: 80px">
    <div class="p-2 bg-danger">Flex item</div>
    <div class="p-2 bg-warning align-self-start">align-self-start</div>
    <div class="p-2 bg-info">Flex item</div>
</div>
<hr class="my-3" />
<div class="d-flex" style="height: 80px">
    <div class="p-2 bg-danger">Flex item</div>
    <div class="p-2 bg-warning align-self-end">align-self-end</div>
    <div class="p-2 bg-info">Flex item</div>
</div>
<hr class="my-3" />
<div class="d-flex" style="height: 80px">
    <div class="p-2 bg-danger">Flex item</div>
    <div class="p-2 bg-warning align-self-center">align-self-center</div>
    <div class="p-2 bg-info">Flex item</div>
</div>
<hr class="my-3" />
<div class="d-flex" style="height: 80px">
    <div class="p-2 bg-danger">Flex item</div>
    <div class="p-2 bg-warning align-self-baseline">align-self-baseline</div>
    <div class="p-2 bg-info">Flex item</div>
</div>
<hr class="my-3" />
<h5 class="text-success">Default</h5>
<div class="d-flex" style="height: 80px">
    <div class="p-2 bg-danger">Flex item</div>
    <div class="p-2 bg-warning align-self-stretch">align-self-stretch</div>
    <div class="p-2 bg-info">Flex item</div>
</div>

@code {

}
