@page "/flex-align-items"

<h3 class="mb-5">Flex / Align items</h3>
<h5 class="text-success">Default</h5>
<div style="height: 80px;" class="d-flex align-items-start bg-danger">
    <div class="p-2 bg-light">
        align-items-start
    </div>
</div>
<hr class="my-3" />
<div style="height: 80px;" class="d-flex align-items-end bg-warning">
    <div class="p-2 bg-light">
        align-items-end
    </div>
</div>
<hr class="my-3" />
<div style="height: 80px;" class="d-flex align-items-center bg-success">
    <div class="p-2 bg-light">
        align-items-center
    </div>
</div>
<hr class="my-3" />
<div style="height: 80px;" class="d-flex align-items-baseline bg-info">
    <div class="p-2 bg-light">
        align-items-baseline
    </div>
</div>
<hr class="my-3" />
<div style="height: 80px;" class="d-flex align-items-stretch bg-black">
    <div class="p-2 bg-light">
        align-items-stretch
    </div>
</div>

@code {

}
