@page "/"
@page "/flex-justify-content"

<h3 class="mb-5">Flex / Justify content</h3>

<h5 class="text-success">Default</h5>
<div class="d-flex justify-content-start bg-light text-dark">    
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<div class="d-flex justify-content-end bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<div class="d-flex justify-content-center bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<div class="d-flex justify-content-between bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<div class="d-flex justify-content-around bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<div class="d-flex justify-content-evenly bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<h5 class="text-success">justify-content-sm-start</h5>
<div class="d-flex justify-content-sm-start bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<h5 class="text-success">justify-content-md-end</h5>
<div class="d-flex justify-content-md-end bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>
<hr class="my-3" />
<h5 class="text-success">justify-content-lg-center</h5>
<div class="d-flex justify-content-lg-center bg-light text-dark">
    <div class="p-2 bg-danger">Flex item 1</div>
    <div class="p-2 bg-warning">Flex item 2</div>
    <div class="p-2 bg-info">Flex item 3</div>
</div>

@code {

}
